body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
.shareBar {
  background-color: antiquewhite;
  width: 50%;
  margin: auto;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background: rgb(255, 255, 255, 0.5);
  margin-bottom: 0px;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  border-bottom: 2px solid black;
}
.navBar p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 50px;
  font-size: 20px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#captionBox {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: green;
  width: 1200px;
}
#caption {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: green;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 900px;
  transform: translate(-50%, -50%);
}
#captionArticle {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: green;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 1200px;
  transform: translate(-50%, -50%);
}
.bannerSection {
  background-image: url("/assets/banner.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.statement {
  width: 50%;
  margin: auto;
  padding-top: 200px;
}
.missionStatement {
  width: 100%;
  height: 700px;
  margin: auto;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background: rgba(255, 255, 255, 0.5);

  text-align: center;
}
.missionStatementAbout {
  width: 50%;
  margin: auto;
}

.profile {
  display: flex;
  width: 50%;
  text-align: left;
  margin: auto;
  border: solid #000;
  border-radius: 20px;
}
.profileText {
  margin-top: 50px;
  margin-bottom: 10px;
}
.profileImage {
  border-radius: 100px;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quote {
  text-align: left;
  text-indent: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagePage {
  left: 50%;
  max-width: 1200px;
}

.nav-link {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  border: none;
  background: none;
  color: black;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #0653e0;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  background-color: white;
  width: 1200px;
}
.Carousel {
  background-color: rgb(94, 161, 224);
}

.imageCarousel {
  position: relative;
  text-align: center;
  color: white;
}

.main {
  text-align: left;
  text-indent: 5%;
  width: 50%;
  margin: auto;
  background-color: antiquewhite;
  background-size: 70%;
}
.frontPage {
  padding-top: 135px;
}

.article {
  margin: auto;
  padding-top: 135px;
  text-align: center;
  width: 100%;
  background-color: white;
}

.references {
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: dimgrey;
  color: white;
}
.referenceList {
  text-align: left;
  width: 70%;
  margin: auto;
}

.latest {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 50px;
  width: 50px;
  border-radius: 10px; /* Rounded corners */
  font-size: 40px; /* Increase font size */
}

#myBtn:hover {
  background-color: white; /* Add a dark-grey background on hover */
  color: black;
  border: solid black;
}

.helping {
  padding-top: 140px;
  width: 60%;
  margin: auto;
  background: linear-gradient(to right, white 40%, brown 40% 60%, white 60%);
}

.leftBox {
  display: flex;
}

.leftPic {
  float: left;
  z-index: 0;
  border-radius: 30px;
  width: 600px;
  height: 400px;
  box-shadow: -5px 10px;
}
.textBoxLeft {
  z-index: 1;
  border-radius: 30px;
  border: #000 solid;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 00px;
  margin-left: -100px;
  background-color: white;
  width: 600px;
  height: 400px;
  box-shadow: -5px 10px;
}
.boxTop {
  text-align: center;
  width: 300px;
  margin: auto;
  font-weight: 100;
}

.rightBox {
  display: flex;
}

.rightPic {
  z-index: 0;
  border-radius: 30px;
  width: 600px;
  height: 400px;
  box-shadow: 5px 10px;
}
.textBoxRight {
  z-index: 1;
  border-radius: 30px;
  border: #000 solid;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: -100px;
  background-color: white;
  width: 600px;
  height: 400px;
  box-shadow: 5px 10px;
}

.boxText {
  margin: 10px;
  padding: auto;
}

.boxLink {
  color: #000;
}
